.smex-items
auto-save-list/
backups/
elpa/
places
projectile.cache
tramp
flycheck_init.el
transient/
bookmarks
ido.last
projectile-bookmarks.eld
.cache
.mc-lists.el
network-security.data
recentf
.lsp-session-*
*.elc
eln-cache